.snakemake/
raw_data
01_raw_sequences/
01_genomes/
02_trimmed/
03_screened/
04_aligned/
05_deduplicated/
06_sorted/
06_nt_coverage/
06_methylation/
07_size_metrics/
08_cytosine_reports/
09_multiqc/
10_DMRichR
00_std_err_logs/
logs/
00_time_logs/
00_slurm/.cache/
00_slurm/DMRichR_Kostas.slurm
task_samples.yaml
task_samples.yml
*temp*
